body {
    font-family: "IBM Plex Mono", monospace;
   
}

.login-form {
position: absolute;
top: 45%;
left: 50%; 
transform: translate(-50%, -50%);
display: grid;
font-size:32px;
}

label[type="email"] {
    font-family: "IBM Plex Mono", monospace;
}

input[type="email"] {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    border-radius:0px;
    border: 0px solid black;
    outline:none;
    border-bottom: 1px solid black;
    align-self: center;
}

input[type="email"]:focus {
    outline: none;

}
.submit-button {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    display:block;
    margin: 0 auto;
    padding:8px;
    animation-name: buttonAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    box-shadow:  0px 2px 26px inherit;
    border: 0px solid black;
    border-radius: 8px;
    color:white;
    margin-top:16px;
    
}
    .submit-button:hover {
    background: rgb(250, 238, 238);
    cursor: crosshair;
  
}

.submit-button:active {
    background: white;
    cursor: crosshair;
    transform: scale(0.98);
}
h2{
    text-align: center;
}

@keyframes buttonAnimation {
    0% {background-color: #ffffff; box-shadow: 0px 2px 26px #fff; color: #000000;}
    25% {background-color: #808080; box-shadow: 0px 2px 26px #808080;}
    50% {background-color: #000000; box-shadow: 0px 2px 26px #000000; color: #ffffff}
    75% {background-color: #808080; box-shadow: 0px 2px 26px #808080; color:#000;}
    100% {background-color: #ffffff; box-shadow: 0px 2px 26px #fff; color: #000000;}

}


